@(posts: Seq[PostEntity], pageNumber: Int, postCount: Int)(implicit request: LocalizedRequest[AnyContent], messagesApi: MessagesApi)
@import controllers.Implicits._
@import dao.Options

@main(Options.blogName.localize, "") {
    <div class="site-heading">
        <h1>@Options.blogName.localize</h1>
        <span class="subheading">@Options.blogDescription.localize</span>
    </div>
} {
    @for((post, index) <- posts.zipWithIndex) {
        @if(index != 0) {
            <hr>
        }
        <div class="post-preview">
            <a href="posts/@post.slug">
                <h2 class="post-title">@post.title.localize</h2>
                <h3 class="post-subtitle">@post.subtitle.localize</h3>
            </a>
            <p class="post-meta">@Messages("time", post.time.localize)</p>
            <article>
            @Html(Utils.parseMarkdown(post.excerpt.localize))
            </article>
        </div>
    }
    <ul class="pagination justify-content-between">
        <li>
            @if(pageNumber > 1) {
                <a class="page-link" href="?page=@{pageNumber - 1}">@Messages("pagination.prev") &larr;</a>
            }
        </li>
        <li>
            @if(postCount > pageNumber * Options.pageSize) {
                <a class="page-link" href="?page=@{pageNumber + 1}">@Messages("pagination.next") &rarr;</a>
            }
        </li>
    </ul>
}