@(post: Post, tags: Seq[PostTag])(implicit request: controllers.LocalizedRequest)
@import controllers.Implicits._

@main(post.title.localize + " - " + Options.blogName.localize, post.headerImage) {
    <div class="post-heading">
        <h1>@post.title.localize</h1>
        <h2 class="subheading">@post.subtitle.localize</h2>
        <span class="meta">@Messages("time", post.time.localize) -
            <span class="post-tags">
            @for((tag, index) <- tags.zipWithIndex) {
                @if(index != 0) {/ }
                <a href="@routes.Application.tag(request.lang, tag.slug)">@tag.name.localize</a>
            }
            </span>
        </span>
    </div>
} {
    <article class="@request.lang">
    @Html(Utils.parseMarkdown(post.content.localize))
    </article>
    @if(!Options.disqusShortName.isEmpty) {
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = '@Options.disqusShortName';
        var disqus_identifier = '@post.slug';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    }
}